name: Code inspection workflow
on:
  workflow_call:
    secrets:
      QODANA_TOKEN:
        description: Qodana cloud token
        required: false

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  # Run Qodana inspections and provide report
  inspectCode:
    name: Inspect code
    runs-on: ubuntu-latest
    steps:
      - name: Maximize Build Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 17
      - name: Qodana - Code Inspection
        uses: JetBrains/qodana-action@latest
        with:
          primary-cache-key: qodana-${{ hashFiles('gradle/libs.versions.toml', 'gradle-*.properties') }}
          additional-cache-key: qodana
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
      - name: Upload to GitHub code scanning
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
